#nav{
  background-color: #615D70;
}
#prim{
  background-color: #4F9593;
}

#prim2{
  background: #875773;
}

.nav-but{
  color:white;
}
/*
md-content{
  max-width: 35%;
}*/

#reviewBox{
  background-color: #4F9593;
  color:white;
  padding: 15px;
  border-bottom: 2px solid white;
}

#reviewWrapper{
  margin: 15px;
}
