<div ng-controller="HomeController as vm">
    <md-content class="md-padding" ng-repeat="b in vm.books" >
      <md-card >
        <img ng-src="{{b.img}}" class="md-card-image" alt="{{b.title}}" title="{{b.title}}">
        <md-card-content>
          <h2 class="md-title">{{b.title}}</h2>
          <div layout="row">
            <!-- <div flex="20"> -->
              Written by:<i>{{b.author}}</i><br>
            <!-- </div> -->
          </div>
          <div layout="row">
            <!-- <div flex="20"> -->
              Genre: <i>{{b.genre}}</i>
            <!-- </div> -->

          </div>
          <p>
            {{b.desc}}
          </p>
          <div layout="row">
            <div  >
              Posted in: {{b.tags}}<br>
              Added by: {{nav.status.user.username}}
            </div>
          </div>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ng-disabled="!nav.status.username">Favorite</md-button>
          <md-button ui-sref="Edit({BookId: b._id})">Edit</md-button>
          <md-button ng-click="vm.deleteBook(b)">Delete</md-button>
        </div>
      </md-card>
      <br/>
    </md-content>
</div>
