<div ng-controller="HomeController as vm">
  <!-- <div layout="column"> -->
  <div ng-repeat="b in vm.books" >
    <md-content class="md-padding" >
      <div flex="35">
        <md-card>
          <img ng-src="{{b.img}}" class="md-card-image" alt="{{b.title}}" title="{{b.title}}">
          <md-card-content>
            <div layout="row">
              <div flex="70">
                <h2 class="md-title">{{b.title}}</h2>
              </div>
              <div flex>
                <md-button id="prim" ng-disabled="!nav.status.username">Fav it</md-button>
              </div>
            </div>
            <div layout="row">
              <!-- <div flex="20"> -->
                Written by:<i>{{b.author}}</i><br>
              <!-- </div> -->
              <!-- <div flex-offset="70">
                <md-button ng-disabled="!nav.status.username">Favorite</md-button>
              </div> -->
            </div>
            <div layout="row">
              <!-- <div flex="20"> -->
                Genre: <i>{{b.genre}}</i>
              <!-- </div> -->

            </div>
            <p>
              {{b.desc}}
            </p>
            <div layout="row">
              <div  >
                Posted in: {{b.tags}}<br>
                Added by: {{nav.status.username}}
              </div>
            </div>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button ui-sref="ReadMore({id: b._id})">Read More</md-button>
            <md-button ui-sref="Edit({id: b._id})">Edit</md-button>
            <md-button ng-click="vm.deleteBook(b)">Delete</md-button>
          </div>
        </md-card>
      </div>
      <br/>
    </md-content>
  </div>
<!-- </div> -->
</div>
