<div ng-controller="ProfileController">
  <div ng-repeat="b in vm.userBooks" >
    <md-content class="md-padding" flex="35" flex-wrap>
      <md-card>
        <img ng-src="{{b.img}}" class="md-card-image" alt="{{b.title}}" title="{{b.title}}">
        <md-card-content>
          <h2 class="md-title">{{b.title}}</h2>
          <div layout="row">
            <!-- <div flex="20"> -->
              Written by:<i>{{b.author}}</i><br>
            <!-- </div> -->
          </div>
          <div layout="row">
            <!-- <div flex="20"> -->
              Genre: <i>{{b.genre}}</i>
            <!-- </div> -->
          </div>
          <p>
            {{b.desc}}
          </p>
          <div layout="row">
            <div flex >
              Posted in: {{b.tags}}<br>
              Added by: {{b.addedBy}}
            </div>
          </div>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ng-disabled="!nav.status.username">Favorite</md-button>
        </div>
      </md-card>
      <br/>
    </md-content>
  </div>
</div>
